################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ABM/AMBServer/.vs/AMBServer/FileContentIndex/4b1525a6-b676-45f7-9b5d-0737c7134c76.vsidx
